<div class="ae-container-fluid ae-container-fluid--inner rk-main animate__animated animate__fadeInLeft">
    <div class="ae-grid au-xs-ta-center au-mb-4">
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-1.jpg" alt="" class="au-mb-3">
            <h5 class="ae-u-bolder au-mt-2">Mariano Moreno</h5>
            <p class="ae-u-bolder au-mb-3">Cook and Pastry</p>
            <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-2.jpg" alt="" class="au-mb-3">
            <h5 class="ae-u-bolder au-mt-2">Basque Culinary Center</h5>
            <p class="ae-u-bolder au-mb-3">Vanguard Culinary</p>
            <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">The Basque Culinary Center integrates the Faculty of Gastronomic Sciences, attached to Mondragon Unibertsitatea, and a Center for Research, Innovation and Entrepreneurship.</p>
        </div>
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-3.jpg" alt="" class="au-mb-3">
            <h5 class="ae-u-bolder au-mt-2">Gastronomic Internacional</h5>
            <p class="ae-u-bolder au-mb-3">Art Director</p>
            <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
            <h4 class="ae-u-bolder">About me</h4>
            <!-- <img src="assets/img/Garces.jpeg" alt="" style="width: 400px; height: 500px;"> -->
            <p>3 years in the culinary industry, interested in latinamerican traditional cuisine, vanguard cuisine and innovation. I am very passionate, creative, organized and intelligent. looking for new experiences and challenges.</p>
        </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">The Abu Dhabi EDITION</h6>
            <p class="au-lh-3">Is located along the waterfront of Al Bateen Marina, one of the oldest inhabited areas of Abu Dhabi. The hotel features 198 guest rooms and 57 exclusively serviced residences. Unique food and beverage outlets include 3 signature restaurants,
                lobby lounge, pool bar and a 3-story nightlife venue. Two pools, a state-of-the-art fitness center and spa with 7 treatment rooms are also available for hotel guests. The hotel also has over 900 square meters of meeting and event space
                including several meeting rooms, a ballroom and a boardroom.</p>
        </div>
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">I+D chef</h6>
            <p class="au-lh-3">Design, costing, development and standardization of 5 new dishes for the a la carte menu. currently availables.</p>
        </div>
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Barcal</h6>
            <p class="au-lh-3">Daily tasks, mise en place and service. reception of products. in charge of 3 courses of the tasting menu.</p>
        </div>
    </div>

</div>